<html>
  <head>
    <meta charset="UTF-8" />
    <title>背诵计划时间表生成器</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <!-- ?date=2024-11-24&today=false&monday=false&week=Mon&title=3500词汇背诵计划表&prefix=单词&listTotal=100&listPerDay=1&reversed=false&colored=false&intervals=1%2C3%2C7&skippedDates=4%2C6%2C8%2C10%2C12%2C14%2C16%2C18%2C20%2C22%2C24%2C26%2C28%2C30%2C32%2C34%2C36%2C38%2C40%2C42%2C44%2C46%2C48%2C50%2C52%2C54%2C56%2C58%2C60%2C62%2C64%2C66%2C68%2C70%2C72%2C74%2C76%2C78%2C80%2C82%2C84%2C86%2C88%2C90%2C92%2C94%2C96%2C98%2C100%2C102%2C104%2C106%2C108%2C110%2C112%2C114%2C116%2C118%2C120%2C122%2C124%2C126%2C128%2C130%2C132%2C134%2C136%2C138%2C140%2C142%2C144%2C146%2C148%2C150%2C152%2C154%2C156%2C158%2C160%2C162%2C164%2C166%2C168%2C170%2C172%2C174%2C176%2C178%2C180%2C182%2C184%2C186%2C188%2C190%2C192%2C194%2C196%2C198&font= -->
    <div id="app">
      <h1>{{ title }}</h1>
      <div class="flex">
        <div>
          <table id="output">
	        <tr>
	          <th v-for="weekdayName in weekdayNames">{{ weekdayName }}</th>
	        </tr>
	        <tbody v-for="week in weeks">
	          <tr>
	            <th v-for="day in week"
                    :class="getDayClass(day)">
                  <div v-if="day">
                    {{ (day.date.getMonth() + 1) + "/" + day.date.getDate() }}
                  </div>
                </th>
	          </tr>
	          <tr>
	            <td v-for="day in week"
                    :class="getDayClass(day)">
                  <div v-if="day">
	                <div v-for="list in day.lists.newLists" :class="'c' + list.replace('~', '')">
                      {{ newListPrefix + " " + list }}<br>
                    </div>
	                <div v-for="list in day.lists.reviewLists" :class="['c' + list.replace('~', ''), 'review-task']">
                      {{ reviewListPrefix + " " + list }}<br>
                    </div>
                  </div>
	            </td>
	          </tr>
	        </tbody>
          </table>
          <div><p>注：星号（*）标记着本日应复习的 List。</p></div>
          <div>修改自 <a href="https://github.com/GuDzpoz/17GRE">GuDzpoz/17GRE</a></div>
        </div>
        <div>
          <table id="form">
            <tr><td></td><th><u><i>时间表选项</i></u></th></tr>
	        <tr><th>计划名</th>
              <td><input id="plan"
                         v-model="newParameters.title">
            </td></tr>
	        <tr><th>List 名</th>
              <td><input id="book"
                         v-model="newParameters.prefix">
            </td></tr>
	        <tr><th>开始日期</th>
              <td><input id="startDate"
                         type="date"
                         v-model="displayedDate">
            </td></tr>
            <tr><th>每天 List 数</th>
              <td><input id="listPerDay"
                         type="number"
                         v-model="newParameters.listPerDay">
            </td></tr>
	        <tr><th>List 总数</th>
              <td><input id="totalList"
                         type="number"
                         v-model="newParameters.listTotal">
            </td></tr>
	        <tr><th>是否逆序</th>
              <td><input id="reverse"
                         type="checkbox"
                         v-model="newParameters.reversed">
            </td></tr>
	        <tr><th>周一为每周第一天</th>
              <td><input id="mondayFirst"
                         type="checkbox"
                         v-model="monday">
            </td></tr>
	        <tr><th>（可选）自定义复习安排(请用 ',' 分隔)</th>
              <td><input id="intervals"
                         type="text"
                         v-model="displayedIntervals"
                         :placeholder="greIntervals.join(',')">
            </td></tr>
	        <tr><th>跳过第n天的新词(请用 ',' 分隔)</th>
              <td><input id="skip"
                         type="text"
                         placeholder="是不是尽量不要跳过会好一点呢?"
                         v-model="displayedSkippedDates">
            </td></tr>
            <tr><td></td><th><u><i>样式选项</i></u></th></tr>
	        <tr><th>是否自动上色</th>
              <td><input id="colored"
                         type="checkbox"
                         v-model="newParameters.colored">
            </td></tr>
            <tr><th>高亮今日</th>
              <td><input id="today"
                         type="checkbox"
                         v-model="newParameters.today">
                （视时区可能有差异）
            </td></tr>
	        <tr><th>字体 <button v-on:click="newParameters.font = ''">取消</button></th>
              <td>
                <font-radios v-model="newParameters.font"></font-radios>
            </td></tr>
	        <tr><th></th><td><button id="generate"
                                     v-on:click="userCommit">
                  点击这里生成</button></td></tr>
          </table>
        </div>
      </div>
    </div>
    <script src="./lib/vue.global.prod.js"></script>
    <script>
      if("serviceWorker" in navigator) {
          navigator.serviceWorker.register("./sw.js");
      }
    </script>
    <script src="index.js"></script>
  </body>
</html>
